.post--episode {
	background: rgba(255,255,255,.04);
	position: relative;

	display: grid;
	grid-template-columns: 100px 1fr max-content;
	align-items: center;
	gap: var(--grid-gap);

	padding: var(--spacing-medium);
	border-radius: var(--border-radius);

	vds-media-sync {
		display: contents;
	}

	figure {
		margin: 0;
		border-radius: var(--border-radius);
	}

	header {
		//font-size: var(--font-size-small);

		&:first-child {
			grid-column: span 2;
		}

		h3,
		p {
			margin-bottom: var(--spacing-small);
		}

		p {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		time {
			color: var(--color-gray);
			font-size: var(--font-size-small);
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	vds-audio {
		position: absolute;
		height: 0;
		width: 0;
	}

	vds-play-button {
		&::before {
			@include icon($icon-pause);
			@include icon-round;
		}
	}

	&[paused] vds-play-button::before {
		content: $icon-play;
	}

	&:not([can-play]) vds-play-button,
	&[waiting] vds-play-button {
		&::before {
			content: $icon-spinner;
			animation: spin 2s infinite linear;
		}
	}

	vds-time-slider {
		position: absolute;
		left: calc(var(--border-radius) / 2);
		right: calc(var(--border-radius) / 2);
		bottom: 0;

		height: 3px;
		cursor: pointer;

		.slider-track {
			background: rgba(255,255,255,.04);

			position: absolute;
			inset: 0;

			&.fill {
				background: var(--color-primary);
				z-index: 1;

				transform: scaleX(var(--vds-fill-rate));
				transform-origin: top left;
			}
		}
	}
}